body{
    
    
    margin: 0;
   
   
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(53, 49, 49);
    
   
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: gray
}

a:hover {
    font-size: larger;
    color: floralwhite;
}

a:link {
    color: honeydew;
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 4%;
    background-color: rgb(53, 49, 49);
}

h2 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    color: blanchedalmond;
    background-color: rgb(53, 49, 49);
}

.about {
    display: flex;
    padding-left: 10%;
    color: black;
    background-color: white;  
    padding:  8%;
    margin-right: 2%;
    margin: auto;
}

a:hover {
    font-size: larger;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}