body{
    
    color: lightgray;
    background-color: rgb(53, 49, 49);
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-between;
   
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 10%;
    background-color: rgb(53, 49, 49);
}

h2 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(53, 49, 49);
}

.about {
    display: flex;
    padding-left: 10%;
    color: black;
    background-color: white;  
    padding:  8%;
    margin-right: 0%;

}

a:hover {
    font-size: larger;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}