body{
    
    margin: 0;
   
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(53, 49, 49);
    
   
}

a:visited {
    color: gray
}

a:hover {
    font-size: larger;
}

a:link {
    color: honeydew;
}


footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: blanchedalmond;
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 6%;
    background-color: rgb(53, 49, 49);
}

.about {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    color: black;
    background-color: white;  
    padding:  8%;
    margin-right: 0%;
}

h2 {
    display: flex;
    margin: auto;
    justify-content: center;
}



.decsriptionHeader {
    color: black;
}

.jobListing {
    display: flex;
}

button {
    margin-left: 4%;
    width: 6em;
    height: 2em;
}