body{
    
    color: lightgray;
    background-color: rgb(53, 49, 49);
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-between;
   
}

a:visited {
    color: gray
}

a:hover {
    font-size: larger;
}

a:link {
    color: honeydew;
}


footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 6%;
    background-color: rgb(53, 49, 49);
}

.about {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    color: black;
    background-color: white;  
    padding:  8%;
    margin-right: 0%;
}