body{
    
    margin: 0;
   
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 4em;
    width: 100%;
    background-color: rgb(53, 49, 49);
}

a:visited {
    color: gray
}

a:link {
    color: honeydew;
}

a:hover {
    font-size: larger;
}


footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: blanchedalmond;
}
.bottomText {
    display: flex;
    background-color: rgb(53, 49, 49);
    flex-direction: row;
    text-align: center;
    color: blanchedalmond;
}

.siteDisclaimer {
    display: flex;
    font-size: x-small;
    text-align: center;
    background-color: rgb(53, 49, 49);
    color: blanchedalmond;
    text-align: right;
    float: right;
    width: 100%;
}  

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 2%;
    background-color: rgb(53, 49, 49);
}

.about {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    color: black;
    background-color: white;  
    padding:  8%;
    margin-right: 0%;
}

h2 {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgb(53, 49, 49);
    color: lightgray;
    padding: 2%
}

p, ul, h4, h3 {
    margin-left: 2%;
}

.decsriptionHeader {
    color: black;
}

.jobListing {
    display: flex;
}

button {
    margin-left: 4%;
    width: 6em;
    height: 2em;
    margin-top: 2%;
    background-color: black;
    text-decoration: none;
    
} 