
img {
    display: flex;
    border-radius: 50%;
}
.marina {
    display: flex;
    flex-direction: row-reverse;
    color: black;
  
}

.jesse {
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 2%;
   
}
.natalie {
    display: flex;
    flex-direction: row;
   margin-top: 6%;
   color: black;
}


h3 {
    display: flex;
    padding-bottom: 2%;
}

.jesseName {
    display: flex;
    margin-left: 5%;
    color: black;
}

.marinaName {
    display: flex;
    float: right;
    margin-right: 4%;  
    color: black; 
}

.natalieName {
    display: flex;
    margin-left: 4%;
    color: black;
}

p {
    display: flex;
    margin-top: 6%;
    padding: 2%
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

body{
    margin: 0;
   
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 4em;
    width: 100%;
    background-color: rgb(53, 49, 49);
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 2%;
    background-color: rgb(53, 49, 49);
}

h2 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    font-size: medium;
    padding-top: 6%;
    background-color: rgb(53, 49, 49);
}


a:visited {
    color: gray
}

a:hover {
    font-size: larger;
}

a:link {
    color: honeydew;
}

.bottomText {
    display: flex;
    background-color: rgb(53, 49, 49);
    flex-direction: row;
    text-align: center;
    color: blanchedalmond;
}

.siteDisclaimer {
    display: flex;
    font-size: x-small;
    text-align: center;
    background-color: rgb(53, 49, 49);
    color: blanchedalmond;
    text-align: right;
    
}