
img {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jesse {
    display: flex;
    flex-direction: row;
}

h3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
}

p {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    padding: 2%

}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

body{
    
    
    margin: 0;
   
}

nav {
    display: flex ;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 4em;
    width: 100%;
    background-color: rgb(53, 49, 49);
}

h1 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    padding-top: 2%;
    background-color: rgb(53, 49, 49);
    
}

h2 {
    display: flex;
    margin: auto;
    color: lightgray;
    justify-content: center;
    font-size: medium;
    padding-top: 6%;
    background-color: rgb(53, 49, 49);
}


a:visited {
    color: gray
}

a:hover {
    font-size: larger;
}

a:link {
    color: honeydew;
}

.bottomText {
    display: flex;
    background-color: rgb(53, 49, 49);
    flex-direction: row;
    text-align: center;
    color: blanchedalmond;
}

.siteDisclaimer {
    display: flex;
    font-size: x-small;
    text-align: center;
    background-color: rgb(53, 49, 49);
    color: blanchedalmond;
    text-align: right;
    
}

@media only screen and (max-width:  400px) {
    h1 {
        font-size: medium;
    }

    footer {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }
    
    .bottomText {
        display: none;
    }
    .siteDisclaimer {
        text-align: center;
    }

    .jesse {
        display: flex;
        flex-direction: column;
    }

} 